.u-section-1 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-1 .u-image-1 {
  --radius: 17px;
  width: 548px;
  height: 388px;
  margin: 30px auto 0 279px;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  margin: 26px auto 0 478px;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 548px;
  height: 423px;
  margin: 44px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 10px;
  margin: 26px auto 0 478px;
}

.u-section-1 .u-btn-3 {
  --radius: 10px;
  margin: 135px -19px -63px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 278px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -19px;
    margin-left: 278px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 80px;
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 382px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -516px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 417px;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 83px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-left: -20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -445px;
  }

  .u-section-1 .u-image-2 {
    width: 184px;
    height: 170px;
    margin-top: 229px;
    margin-right: -36px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: -10px;
  }
}